---
parser: babel-eslint

extends:
- airbnb-base
- prettier


env:
browser: true
es6: true

plugins:
- prettier

rules:
no-param-reassign: [error, {props: false}]
no-restricted-syntax:
- error
- ForInStatement
- LabeledStatement
- WithStatement
no-shadow: off
no-underscore-dangle: off
no-unused-expressions: [error, {allowShortCircuit: true}]
no-use-before-define: warn
no-useless-concat: off
prefer-template: warn
import/prefer-default-export: warn
prettier/prettier: [error, {bracketSpacing: false}]